body{
    background-color: #dadada;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center;  
    margin: 0; 
    padding: 0;
  }

.card {
    text-align: center; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}

.card #increment, #decrement, #reset {
    padding: 10px 25px;
    background-color: aquamarine;
    color: #000;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #727272;

}

.card input {
    width: 50px;
    border: none;
    background-color: #dadada;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
}